* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 320px;
  }
}

.nav__bar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.nav__bar-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__bar-mobile, .nav__bar-mobile2 {
  text-align: right;
}

.nav__bar-phone {
  font-size: 19px;
  font-family: 'Proxima Nova Semibold';
  display: block;
  text-decoration: none;
  color: #262626;
  margin-bottom: 5px;
}

.nav__bar-stext {
  font-size: 14px;
  color: #6b6b6b;
  text-decoration: none;
  display: block;
}

.menu {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 10px 0;
  width: 100%;
  background-color: #507fe1;
  color: #fff;
  /*&_active
        transform: translateY(0)*/
}

.menu__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}

.menu-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff url(../img/truck_PNG16259.png) no-repeat center;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold';
  margin-bottom: 5px;
  text-align: center;
}

.logo__description {
  font-size: 14px;
  display: block;
  color: #6b6b6b;
  text-align: center;
}

@media (max-width: 991px) {
  .nav__bar-mobile, .nav__bar-mobile2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__bar-logo {
    display: none;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .menu__link {
    padding-top: 5px;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light',sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section {
  padding: 50px 0 50px;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 70px;
}

.button-o {
  border: 2px solid;
  padding: 17px 22px;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold';
  color: #507fe1;
}

.button {
  border: none;
  padding: 25px 15px;
  text-transform: uppercase;
  background-color: #507fe1;
  color: #fff;
  font-family: 'Proxima Nova Semibold';
}

.button:hover {
  background-color: #194197;
}

.button:hover-fitting {
  padding: 7px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 11px;
  height: 30px;
}

.button:hover-like {
  padding: 0px 5px 4px 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 30px;
  width: 30px;
  border: none;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.bg-secondary__call {
  background-color: #fff;
}

.input {
  height: 70px;
  padding-left: 30px;
  border: 2px solid #dddddd;
}

.input[type="checkbox"] {
  display: none;
}

.input[type="checkbox"]:checked + label:before {
  background-color: #507fe1;
}

.checkbox-label {
  display: inline;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  padding-right: 20px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.form-input {
  margin-bottom: 15px;
}

.form__button__modal {
  margin-bottom: 20px;
}

#modal {
  display: none;
  background-color: #fff;
  width: 300px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 20px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .form__checkbox {
    display: none;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.hero {
  background-image: url(../img/fura.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding-top: 150px;
  height: 600px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #fff;
  padding: 40px 0px 0px 85px;
  display: block;
}

.hero__subtitle {
  margin-bottom: 67px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold';
  padding: 30px 0px 0px 140px;
  color: #fff;
  display: block;
}

.hero__btn {
  display: block;
  margin-left: 85px;
}

@media (max-width: 576px) {
  .hero {
    width: 100%;
  }
  .hero__title {
    padding: 10px;
    text-align: center;
  }
  .hero__btn {
    margin: auto;
  }
  .hero__subtitle {
    padding-left: 0;
    text-align: center;
  }
}

.offer {
  padding: 129px 0 70px;
}

.offer-block {
  background: #fff url(../img/bus.png) no-repeat center right;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 60px 70px 60px 70px;
  margin-top: -160px;
}

.offer-block__bottom {
  background: #fff url(../img/bus2.png) no-repeat center right;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 60px 70px 60px 70px;
  margin-top: -160px;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold';
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
  max-width: 800px;
}

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -webkit-flex-basis: 33.33%;
      -ms-flex-preferred-size: 33.33%;
          flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border-right-width: 0p;
}

.form__input:last-child {
  border-right-width: 2px;
}

.form__button {
  height: 70px;
  width: 100%;
}

.form__policy {
  display: inline-block;
  margin-left: 45px;
  font-size: 17px;
}

@media (max-width: 995px) {
  .offer-block {
    background-position: center right -50px;
  }
  .offer-block__bottom {
    background-position: center right -50px;
  }
  .form__policy {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer-block__bottom {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer__title {
    font-size: 24px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row-checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__group {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .offer {
    width: 100%;
  }
}

.features-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.features-block__item {
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  text-align: center;
  margin-bottom: 50px;
  max-width: 386px;
}

.features-block__text {
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 991px) {
  .features-block__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 50px;
  }
  .features-block__text {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .features-block__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

.catalog {
  background-color: #f5f6f8;
}

.catalog-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.catalog-card {
  color: #f1f1f1;
  height: 250px;
  max-width: 570px;
  position: relative;
  margin-bottom: 25px;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog-card__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 991px) {
  .catalog-card {
    max-width: 470px;
    height: auto;
  }
}

@media (max-width: 520px) {
  .catalog-card {
    max-width: 320px;
    height: auto;
  }
}

.step {
  position: relative;
  text-align: center;
}

.step__title {
  font-size: 18px;
}

.step:last-child::before {
  display: none;
}

.step::before {
  content: '';
  width: 50%;
  height: 2px;
  background-color: #7e7b78;
  display: block;
  position: absolute;
  top: 25%;
  right: -35%;
}

.step__text {
  max-width: 160px;
  margin: auto;
  margin-bottom: 25px;
}

.steps-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .step::before {
    width: 30%;
    right: -20%;
  }
}

@media (max-width: 991px) {
  .step {
    width: 33%;
  }
  .step::before {
    display: none;
  }
}

@media (max-width: 576px) {
  .step {
    width: 100%;
  }
}

.reviews {
  background-color: #f5f6f8;
}

.reviews-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider__item {
  text-align: center;
  margin-right: 10px;
}

.reviews-slider__img {
  display: block;
  border: 2px solid #6a99c9;
  -webkit-border-radius: 60%;
          border-radius: 60%;
  margin: 20px auto;
}

.reviews-slider__text {
  position: relative;
  font-size: 15px;
  font-style: italic;
  width: 370px;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  min-height: 155px;
}

.reviews-slider__text:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10px;
  border: 20 px solid transparent;
  border-top: 20px solid #fff;
}

@media (max-width: 991px) {
  .reviews-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-slider__item {
    margin-bottom: 20px;
  }
  .reviews-slider__text {
    width: auto;
  }
}

.about {
  width: 800px;
  margin: 0 auto;
}

.about-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block__text {
  text-align: justify;
  margin: 0 40px;
}

@media (max-width: 768px) {
  .about {
    width: auto;
  }
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-block__img {
    width: 260px;
    margin: 0 auto;
  }
  .about-block__text {
    margin-top: 30px;
  }
}

.contacts {
  background-color: #f5f6f8;
}

.contacts-block {
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-block__item {
  text-align: center;
  margin-bottom: 30px;
}

.contacts__image {
  margin-bottom: 25px;
}

.contacts__text {
  font-size: 16px;
}

.contacts__link {
  text-decoration: none;
  color: #000;
}

.contacts__adress {
  font-style: normal;
}

@media (max-width: 768px) {
  .contacts-block {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-block__item {
    margin-bottom: 25px;
  }
  .contacts__image {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.footer {
  padding: 40px 0 0 0;
  background-color: #262626;
  color: #fff;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer-pay__logo {
  min-width: 32px;
  min-height: 32px;
}

.footer-contacts {
  max-width: 150px;
}

.footer-contacts__link {
  line-height: 24px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer__title {
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
  margin-top: 0;
}

.footer-social__logo {
  margin: 0 5px;
}

@media (max-width: 420px) {
  .footer-block {
    display: block;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .footer-pay {
    margin-bottom: 25px;
  }
  .footer-contacts {
    margin-bottom: 25px;
  }
  .footer-contacts__link {
    line-height: 24px;
  }
  .footer-social__logo {
    margin: 0 5px;
  }
}

.info {
  display: block;
  text-align: center;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
}

.service {
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #f5f6f8;
}

.service-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-block__wrap {
  margin-right: 30px;
  text-align: center;
}

.service-block__title {
  font-size: 30px;
  color: #000;
  font-family: 'Proxima Nova Semibold',sans-serif;
  text-transform: uppercase;
}

.service-block__img {
  width: 300px;
  height: 280px;
  margin-top: 20px;
}

.service-block__text {
  padding-top: 65px;
  width: 60%;
  color: #000;
}

@media (max-width: 610px) {
  .service-block {
    display: block;
    padding-top: 100px;
  }
  .service-block__img {
    height: auto;
  }
  .service-block__text {
    padding-top: 30px;
    width: 100%;
  }
  .footer-social {
    margin-bottom: 20px;
  }
}

.contact {
  padding-top: 65px;
  padding-bottom: 30px;
  background-color: #f5f6f8;
}

.contact-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  position: relative;
}

.contact-block__title {
  font-size: 30px;
  color: #000;
  font-family: 'Proxima Nova Semibold',sans-serif;
  text-transform: uppercase;
}

.contact-block__links {
  padding-top: 55px;
}

.contact-block__link {
  display: block;
  text-decoration: none;
  text-align: left;
  margin: 12px 0;
  color: #000000;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  -webkit-transform: translateX(-160px);
      -ms-transform: translateX(-160px);
          transform: translateX(-160px);
}

.contact-block__link:hover {
  color: #507fe1;
}

.footer-contact {
  display: block;
  width: 150px;
  line-height: 24px;
}

@media (max-width: 610px) {
  .contact-block {
    display: block;
    padding-top: 100px;
  }
  .contact-block__img {
    height: auto;
  }
  .contact-block__link {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    padding-top: 15px;
    width: 100%;
  }
  .footer-social {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.transport {
  padding: 50px 180px;
  background-color: #f5f6f8;
}

.transport-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  background-color: #fff;
}

.transport-block__img {
  width: 600px;
  padding-right: 50px;
}

.transport-block__image {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.transport-block__wrap {
  margin: 0 auto;
  padding-top: 20px;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.transport-block__title {
  color: #000;
  font-family: 'Proxima Nova Semibold',sans-serif;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.transport-block__subtitle {
  line-height: 30px;
  font-size: 20px;
  margin: 0 auto;
}

.transport-block__btn {
  display: block;
  padding: 10px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 1114px) {
  .transport {
    padding: 0;
  }
  .transport-block {
    display: block;
    width: auto;
  }
  .transport-block__img {
    width: 100%;
    text-align: center;
  }
  .transport-block__wrap {
    margin-left: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .transport-block {
    width: auto;
  }
  .transport-block__img {
    width: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
  .transport-block__img:first-child {
    padding-top: 60px;
  }
  .transport-block__btn {
    display: inline;
    margin-left: 50px;
  }
}
